/* место для вашего кода */
.header {
  height: 293px;
  width: 1100px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}
.header__logo {
  display: block;
  width: 148px;
  margin-left: 4px;
}
.cover {
  height: 757px;
  width: 100%;
  padding: 165px 50px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_link-list {
  display: flex;
  flex-direction: row;
  gap: 31px;
  list-style: circle;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 100%;
}
.header_link-list-item:first-child {
  list-style: none;
}
.header_link-list-item:not(:first-child) {
  padding-left: 2px;
}
.header_link-list-item:first-child .header__link {
  text-decoration: none;
}
.header__link {
  text-underline-offset: 4px;
}

.address {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 240px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 5px;
}
.address a {
  text-underline-offset: 4px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
}
.title-cover {
  position: relative;
  z-index: 2;
  color: aliceblue;
  text-transform: uppercase;
  display: grid;
  font-size: 100px;
  gap: 20px;
  grid-template-rows: repeat(3, 1fr);
  font-weight: 700;
  line-height: 115px;
}

.ono {
  justify-self: start;
  letter-spacing: 30px;
}

.tebe {
  justify-self: center;
  letter-spacing: 30px;
}

.nado {
  justify-self: end;
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.5px;
}

.bet-button {
  margin: 0;
  padding: 10px;
  border: none;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  width: 256px;
  height: 51px;
}

.lots {
  padding: 184px 24px 0 24px;
}

.lots_heading {
  margin-left: 40px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: 100%;
  font-style: normal;
  text-transform: uppercase;
}

.lots_card-list-item {
  padding: 0;
  margin: 0;
  width: 334px;
  height: auto;
  display: flex;
}

.lots_card-list {
  padding: 30px 0;
  display: flex;
  gap: 25px;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 596px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card_title {
  position: relative;
  z-index: 2;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  z-index: 2;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots_look-more-link {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-left: 40px;
  text-underline-offset: 4px;
}

.about {
  margin: 120px 0 180px 0;
  padding: 35px 24px 0 24px;
}

.about_column {
  display: grid;
  grid-template-columns: minmax(auto, 334px) 1fr;
  gap: 25px;
}

.about__title {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 105px;
  margin-bottom: 100px;
}

.about__text {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__logo {
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.about__logo-image {
  height: 114px;
  width: 148px;
}

.obertca-p {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 240px;
  height: 48px;
  list-style-type: none;
}

.footer__menu-list {
  margin-top: 4px;
  list-style-type: none;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__menu-link {
  text-underline-offset: 4px;
}