/* Header */
.header {
  width: 1100px;
  padding: 92px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__logo {
  display: block;
  width: 148px;
  margin-left: 4px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: circle;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 100%;
}

.header__links-list-item:nth-child(1) {
  list-style: none;
}

.header__links-list-item:nth-child(2) {
  padding: 0 2px;
}

.header__links-list-item:nth-child(3) {
  padding-left: 2px;
}

.header__link {
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.address {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 240px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.header__address {
  margin-bottom: 5px;
}

.address a {
  text-underline-offset: 4px;
}

/* Cover */
.cover {
  min-height: 757px;
  width: 100%;
  padding: 165px 50px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 100px;
  gap: 20px;
  font-weight: 700;
  line-height: 115px;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.4px;
}

.bet-button {
  margin: 0;
  padding: 12px 32px 12px 31px;
  border: none;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

/* Lots */
.lots {
  padding: 184px 24px 0 24px;
}

.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  text-transform: uppercase;
}

.lots__card-list {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  padding: 0;
  margin: 0;
  width: 334px;
  display: flex;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-left: 40px;
  text-underline-offset: 4px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 596px;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.about {
  margin: 120px 0 181px 0;
  padding: 35px 24px 0 24px;
}

.about__column {
  display: grid;
  grid-template-columns: minmax(auto, 334px) 1fr;
  gap: 25px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin: 104px 0 102px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__text:first-child {
  line-height: 24.4px;
}

.about__logo {
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.about__logo-image {
  height: 114px;
  width: 148px;
}

.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
}

.footer__menu-list {
  margin-top: 2px;
  list-style-type: none;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
}

.footer__menu-list-item:not(:first-child) {
  margin-top: 1px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style-type: none;
}